.separadorWrap{
    max-width: 1140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin: 0 auto;
    text-align: center;
}

.separadorTitle{
    font-family: 'Cormorant';
    font-weight: 700;
    color: #333;
    font-size: 3rem;
    margin: 0;
}

.separadorText{
    color: #777;
    font-size: 1rem;
    padding: 1rem;
    padding-bottom: 2rem;
    text-align: justify;
    text-align-last: center;
}

@media (max-width: 1100px){
    .separadorTitle{
        font-size: 2.2rem;
    }
}
    
