.postImageHero {
  position: relative;
  height: 40vh;
  width: 100vw;
  margin-top: 10rem;
  margin-bottom: 2rem;
  overflow: hidden;
  z-index: -1;
}

.imageHero {
  filter: brightness(70%);
}

.title {
  font-family: "Cormorant", sans-serif;
  text-transform: uppercase;
  width: 30ch;
  font-size: 3.5rem;

  color: white;
  left: 50%;
  transform: translate(-50%, 0);
  top: 6rem;
  text-align: center;

  position: absolute;
  z-index: 1;
}

.doctorImageWrapper {
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
  height: auto;
  width: 100%;
}

.doctorImageWrapper img {
  width: 100%;
  height: 25rem;
  object-fit: cover;
}

.authorName {
  color: #333;
  font-family: "Cormorant", sans-serif;
  font-size: 1.5rem;
  margin: 0;
}

.authorSpeciality {
  color: #777;
  font-size: 1.2rem;
  margin: 0;
}

.cardText {
  padding: 1rem;
}

.cardWrapper {
  margin-bottom: 5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.singleCard {
  width: 25rem;
  margin: 1rem;
  position: relative;
  height: auto;

  transition: all 0.3s ease-in-out;
  box-shadow: 2px 2px 9px -5px rgb(0 0 0 / 15%);
}

.singleCard:hover {
  box-shadow: 11px 11px 20px -7px rgba(0, 0, 0, 0.1);
  transform: translate(0, -2px);
}

@media (max-width: 1100px) {
  .postImageHero {
    height: 50vh;
    margin-top: 0rem;

    margin-bottom: 2rem;
    overflow: hidden;
    z-index: -1;
  }

  .imageHero {
    filter: brightness(70%);
  }

  .title {
    font-family: "Cormorant", sans-serif;
    text-transform: inherit;
    width: 90vw;
    font-size: 3rem;
    top: 7rem;
    z-index: 1;
  }
}

@media (max-width: 764px) {
  .cardWrapper {
    margin: 0;
    padding: 1rem;
  }

  .doctorImageWrapper {
    height: 20rem;
  }

  .singleCard {
    width: 100%;
  }
}
