.latestPosts{
  position: relative;
  max-width: 1140px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-gap: 2%;
  margin-bottom: 5rem;
}

.postPreviewWrapper{
  display: grid;
  cursor: pointer;
  grid-template-areas: 
  "picture"
  "category"
  "title"
  "description"
  "author";
  grid-template-rows: 20rem auto 7rem 10rem auto;

  transition: all 0.3s ease-in-out;
  box-shadow: 2px 2px 9px -5px rgb(0 0 0 / 15%);
}

.postPreviewWrapper:hover{
  box-shadow:11px 11px 20px -7px rgba(0,0,0,.1);
  transform:translate(0,-2px);
}



.postImageWrap img{
  object-fit: cover;
}

.imgWrapper img{
  height: 20rem;
  width: 100%;
  position: relative;
  object-fit: cover;
  
}

.categoryWrapper{
  font-size: 0.8rem;
  margin: 1rem;
  height: fit-content;
  width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.azulClaro{
  background: #E7F2F8;
}

.azulOscuro{
  background: #74BDCB;
}

.salmon{
  background: #FFA384;
}

.dorado{
  background: #EFE7BC;
}

.postTitle{
  grid-area: title;
  text-align: center;
  color: #333;
  font-family: 'Cormorant', serif;
  font-weight: 700;
  font-size: 2rem;
  padding: 1rem;
}

.postDescription{
  grid-area: description;
  display: flex;
  align-items: center;
  padding: 1rem;

  color: #566;
  text-align:justify;
  text-align-last: center;
  
}

.authorData{
  max-width: 1440px;
  
  display: flex;
  justify-content: center;
  
}

.dataWrap{
  grid-area: author;
  display: grid;
  grid-template-areas: 
  "author photo"
  "date photo"
  ;
  grid-template-columns: 1fr auto;
  grid-gap: 0.1rem;
  padding: 2rem 0;
}

.date{
  grid-area: date;
  margin: 0;
  text-align: center;
  font-size: 0.8rem;
  color: #ccc;
}

.author{
  grid-area: author;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 0;
  font-size: 1rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.2rem;
}

.authorImage{
  grid-area: photo;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
}

.authorImage img{
  position: relative;
  width: 4rem;
  height: 4rem;
  clip-path: circle(50% at 50% 50%);
  object-fit: cover;
  
}



.blogAnchor{

  margin: 0 auto;
  margin-bottom: 2rem;
  font-family: 'Cormorant';
  font-size: 1.5rem;
  width: 10rem;
  border: 1px solid #243648;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1rem;

}


@media(max-width: 1175px){
  .latestPosts{   
    grid-template-columns: 100%;
    grid-gap: 2rem;
    padding: 1rem;
    
  }

  .postPreviewWrapper{
    grid-template-rows: repeat(4,auto);
  }
}




