.linkButtonWrapper{
    display: flex;
    justify-content:center;
}

.button{
    /* margin: 0 auto; */

    background: white;
    color: #243648;
    border: 1px solid #243648;

    width: auto;
    
    padding: 1rem;
    font-size: 1.2rem;
    
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.button:hover{
    
    background-color: #243648;
    color: white;
    
    
}

